/* =================== Global Reset =================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    min-height: 100vh;
}

/* =================== navbar =================== */
#full-navbar {
    height: 45vh;
    width: 100vw;
    z-index: 1000;
    transition: 0.4s ease;
    position: fixed;
    top: -100%;
    left: 0;
    transition: 1s ease;
    background-color: #dadada;

}

nav {
    width: 100vw;
    height: 13vh;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    background: rgba(170, 151, 151, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 0.3s ease;
}

/* =================== Logo =================== */
#logo img {
    height: 16vh;
    transition: 0.3s ease;
}

#logo img:hover {
    transform: scale(1.1);
}

/* =================== Links =================== */
#link {
    display: flex;
    gap: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#link a {
    text-decoration: none;
    color: #000000;
    font-size: 2.9vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    position: relative;
    transition: 0.3s ease;
}

/* Hover underline animation */
#link a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #e5e7e7;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

#link a:hover::after {
    width: 100%;
}


#link a:hover {
    color: #f0f0f0;
}

/* =================== Sign In Button =================== */

#SignUp {
    display: flex;
    align-items: center;
    gap: 0.6vw;
}


#SignUp i {
    display: none;
}

#SignUp #shoppingcart {
    display: block;
    color: #dadada;
    font-size: 4vh;
}

#btn {
    padding: 1.3vh 1.50vw;
    border-radius: 25px;
    color: #000;
    font-size: 1.75vh;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.267);
    background-color: rgba(128, 128, 128, 0.452);
    cursor: pointer;
    transition: all 0.35s ease;
}

#btn:hover {
    background-color: rgb(43, 42, 42);
    color: #d6d4d4;
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/* Click Effect */
#btn:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#btn a {
    text-decoration: none;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #dadada;
    font-size: 2.5vh;
    font-weight: 600;
    transition: 0.3s ease;
}




/* =================== home page1 =================== */

#page1 {
    background-image: url("../images/heroSectionImage.png");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



#page1 #container {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.582);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#page1 #container h1 {
    color: #f5f0f0;
    font-size: 10vh;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 2px;
    font-family: anurati;
}

#page1 #container p {
    color: #f5f0f0;
    font-size: 2.5vh;
    width: 50%;
    margin-bottom: 20px;
}

#page1 #container button {
    padding: 1.5vh 1.5vw;
    border-radius: 25px;
    color: #000;
    font-size: 2.5vh;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.267);
    background-color: rgba(128, 128, 128, 0.452);
    cursor: pointer;
    transition: all 0.35s ease;
}

#page1 #container button a {
    text-decoration: none;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #dadada;
}

#page1 #container button:hover {
    background-color: rgb(43, 42, 42);
    color: #d6d4d4;
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

#page1 #container button:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#page2 #container {
    min-height: 100vh;
    background-color: rgb(238, 231, 231);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =================== Responsive =================== */



/* =================== Ipad =================== */

@media (max-width: 768px) {
    nav {
        width: 100vw;
        height: 8vh;
        padding: 0 5vw;
    }

    #logo img {
        height: 12vh;
        transition: 0.3s ease;
    }

    #link {
        display: none;
        /* simple hide for mobile */
    }

    #SignUp {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    #SignUp #btn {
        display: none;
    }



    #input::placeholder {
        color: #dadada;
    }

    #SignUp i {
        display: block;
        color: #dadada;
        font-size: 4vh;
        cursor: pointer;
        transition: 0.60s ease;
    }

    #SignUp #shoppingcart {
        display: block;
        color: #dadada;
        font-size: 4vh;
    }

    #full-navbar #navbarlink {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 10vh;
        left: 10vw;

    }



    #full-navbar #navbarbtn {
        padding: 1.3vh .50vw;
        border-radius: 5px;
        color: #000;
        font-size: 1.75vh;
        font-weight: 600;
        border: 2px solid rgba(255, 255, 255, 0.267);
        background-color: rgba(128, 128, 128, 0.452);
        cursor: pointer;
        transition: all 0.35s ease;
    }

    #full-navbar a {

        text-decoration: none;
        color: #000000;
        font-size: 2.9vh;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        position: relative;
        transition: 0.3s ease;
    }

    #navbarlink a::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        background: #789696;
        left: 0;
        bottom: -6px;
        transition: 0.3s;
    }

    #navbarlink a:hover::after {
        width: 100%;
    }

    #navbarlink a:hover {
        color: #789696;
    }
    
    #page1 {
        text-align: left;
    }

    #overlay {
        max-height: 100vh;
        background-color: rgba(0, 0, 0, 0.582);
    }

    #page1 #overlay #container {
        min-height: none;
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        padding-left: 5vw;
    }
    #page1 #overlay #container h1 {
        color: #f5f0f0;
        width: 100vw;
        font-size: 8vh;
        text-transform: uppercase;
        letter-spacing: 6px;
        margin-bottom: 2px;
        font-family: anurati;
        flex-wrap: nowrap;
    }
    #page1 #overlay #container p {
        color: #f5f0f0;
        font-size: 2.5vh;
        width: 90vw;
        margin-bottom: 20px;
    }
    
#page1 #container button {
    padding: 1.5vh 4.5vw;
    border-radius: 8px;
    color: #000;
    font-size: 2.5vh;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.267);
    background-color: rgba(128, 128, 128, 0.452);
    cursor: pointer;
    transition: all 0.35s ease;
}
}



/* =================== mobile =================== */
@media (max-width: 480px) {
    nav {
        width: 100vw;
        height: 6vh;
        padding: 0 5vw;
    }

    #logo img {
        height: 9vh;
        transition: 0.3s ease;
    }

    #link {
        display: none;
        /* simple hide for mobile */
    }

    #SignUp {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    #SignUp #btn {
        display: none;
    }

    #SignUp #input {
        display: none;
    }

    #input::placeholder {
        color: #dadada;
    }

    #SignUp i {
        display: block;
        color: #dadada;
        font-size: 2vh;
    }

    #SignUp #shoppingcart {
        display: block;
        color: #dadada;
        font-size: 2vh;
    }

    #full-navbar #navbarlink {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 10vh;
        left: 10vw;

    }


    #full-navbar #navbarbtn {
        padding: 1vh .50vw;
        border-radius: 5px;
        color: #000;
        font-size: 1.75vh;
        font-weight: 600;
        border: 2px solid rgba(255, 255, 255, 0.267);
        background-color: rgba(128, 128, 128, 0.452);
        cursor: pointer;
        transition: all 0.35s ease;
        border: 2px solid gray;
    }

    #full-navbar a {

        text-decoration: none;
        color: #000000;
        font-size: 1.9vh;
        font-weight: 900;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        transition: 0.3s ease;
    }

    #navbarlink a::after {
        content: "";
        position: absolute;
        width: -7%;
        height: 2px;
        background: #2f3636;
        left: 0;
        bottom: -6px;
        transition: 0.3s;
    }

    #navbarlink a:hover::after {
        width: 100%;
    }

    #navbarlink a:hover {
        color: #2f3636;
    }
    #page1 {
        text-align: left;
    }

    #overlay {
        max-height: 100vh;
        background-color: rgba(0, 0, 0, 0.582);
    }

    #page1 #overlay #container {
        min-height: none;
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        padding-left: 5vw;
    }
    #page1 #overlay #container h1 {
        width: 200px;
        color: #f5f0f0;
        font-size: 6vh;
        /* margin-left: -14.9%; */
        text-transform: uppercase;
        letter-spacing: 6px;
        margin-bottom: 2px;
        font-family: anurati;
    }
    #page1 #overlay #container p {
        color: #f5f0f0;
        font-size: 2.5vh;
        width: 400px;
        /* margin-left: 20.9%; */
        margin-bottom: 20px;
    }
    
#page1 #container button {
    padding: 1.5vh 4.5vw;
    border-radius: 8px;
    color: #000;
    font-size: 2.5vh;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.267);
    background-color: rgba(128, 128, 128, 0.452);
    cursor: pointer;
    transition: all 0.35s ease;
    /* margin-left: -30.9%; */
}
}




/* =========================
   MOBILE NAVBAR SETTINGS
   ========================= */

/* Desktop pe full-navbar bilkul hide */
@media (min-width: 769px) {
    #full-navbar {
        display: none !important;
    }
}

/* Mobile ke liye */
@media (max-width: 768px) {

    nav #link {
        display: none;
    }

    #full-navbar {
        display: block;
    }

    /* Menu icon show */
    #menu {
        display: block;
        font-size: 28px;
        cursor: pointer;
    }
}


















