/* =================== Global Reset =================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}



html,
body {
    min-height: 100vh;
    overflow-x: hidden;
}


/* =================== navbar =================== */
#full-navbar {
    height: 45vh;
    width: 100vw;
    z-index: 1000;
    transition: 0.4s ease;
    position: fixed;
    top: -100%;
    left: 0;
    transition: 1s ease;
    background-color: #dadada;

}

nav {
    width: 100vw;
    height: 13vh;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    background: rgba(170, 151, 151, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 0.3s ease;
}

#logo img {
    height: 16vh;
    transition: 0.3s ease;
}

#logo img:hover {
    transform: scale(1.1);
}

#link {
    display: flex;
    gap: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#link a {
    text-decoration: none;
    color: #000000;
    font-size: 2.9vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    position: relative;
    transition: 0.3s ease;
}

#link a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #e5e7e7;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

#link a:hover::after {
    width: 100%;
}

#link a:hover {
    color: #f0f0f0;
}

#SignUp {
    display: flex;
    align-items: center;
    gap: 0.6vw;
}

#SignUp i {
    display: none;
}

#SignUp #shoppingcart {
    display: block;
    color: #dadada;
    font-size: 4vh;
}

#btn {
    padding: 1.3vh 1.50vw;
    border-radius: 25px;
    color: #000;
    font-size: 1.75vh;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.267);
    background-color: rgba(128, 128, 128, 0.452);
    cursor: pointer;
    transition: all 0.35s ease;
}

#btn:hover {
    background-color: rgb(43, 42, 42);
    color: #d6d4d4;
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

#btn:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#btn a {
    text-decoration: none;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #dadada;
    font-size: 2.5vh;
    font-weight: 600;
    transition: 0.3s ease;
}












#addToCart {
    width: 50vw;
    height: 100vh;
    background-color: red;
    position: fixed;
    top: 0%;
    right: 0%;
}


#addToCart #showProduct{
    padding: 0 20px;
    height: 20vh;
    background-color: #4f46e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#productNameInfo{
    display: flex;
    align-items: center;
}

#Imagebox{
    /* width: 20vw; */
    /* height: 6rem; */
    /* background-color: #000000; */
}

#Imagebox img{
    width: 100%;
    height: 6rem;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease;
}


/* =================== Hero Section =================== */

#page1 {
    background-image: url("../images/heroSectionImage.png");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#page1 #container {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.582);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#page1 #container h1 {
    color: #f5f0f0;
    font-size: 10vh;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 2px;
    font-family: anurati;
}

#page1 #container p {
    color: #f5f0f0;
    font-size: 2.5vh;
    width: 50%;
    margin-bottom: 20px;
}

#page1 #container button {
    padding: 1.5vh 1.5vw;
    border-radius: 25px;
    color: #000;
    font-size: 2.5vh;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.267);
    background-color: rgba(128, 128, 128, 0.452);
    cursor: pointer;
    transition: all 0.35s ease;
}

#page1 #container button a {
    text-decoration: none;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #dadada;
}

#page1 #container button:hover {
    background-color: rgb(43, 42, 42);
    color: #d6d4d4;
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

#page1 #container button:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#page2 #container {
    min-height: 100vh;
    background-color: rgb(238, 231, 231);
    display: flex;
    align-items: center;
    justify-content: center;
}




/* ======================= Product Section ===================  */

#products {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dadada;
}

#products #container #heading {
    text-align: center;
}

.product-grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    background-color: #dadada;
    position: relative;
    overflow-x: auto;

}

.product-grid::-webkit-scrollbar {
    display: none;
}

.card {
    flex-shrink: 0;
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease;
}

.card img:hover {
    transform: rotate(2deg) scale(1.05);
}

.card-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-content h2 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #6b7280;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 0.25rem;
}

.card-content h1 {
    font-size: 1.125rem;
    font-weight: 700;
    color: #111827;
    margin-bottom: 0.5rem;
}

.card-content p {
    font-size: 0.875rem;
    color: #4b5563;
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.card-footer span.price {
    font-size: 1rem;
    font-weight: 700;
    color: #4f46e5;
}

.card-footer span.learn-more {
    font-size: 0.75rem;
    color: #6366f1;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
}

.card-footer span.learn-more:hover {
    text-decoration: underline;
}

.card-footer span.learn-more svg {
    width: 1rem;
    height: 1rem;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .card img {
        height: 10rem;
    }
}




/* =================== Responsive =================== */





/* =================== Ipad =================== */

@media (min-width: 768px) and (max-width: 1024px) {

    /* ============= Header Section ============ */
    nav {
        width: 100vw;
        height: 8vh;
        padding: 0 5vw;
    }

    #logo img {
        height: 12vh;
        transition: 0.3s ease;
    }

    #link {
        display: none;
        /* simple hide for mobile */
    }

    #SignUp {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    #SignUp #btn {
        display: none;
    }

    #input::placeholder {
        color: #dadada;
    }

    #SignUp i {
        display: block;
        color: #dadada;
        font-size: 4vh;
        cursor: pointer;
        transition: 0.60s ease;
    }

    #SignUp #shoppingcart {
        display: block;
        color: #dadada;
        font-size: 4vh;
    }

    #full-navbar #navbarlink {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 10vh;
        left: 10vw;

    }

    #full-navbar #navbarbtn {
        padding: 1.3vh .50vw;
        border-radius: 5px;
        color: #000;
        font-size: 1.75vh;
        font-weight: 600;
        border: 2px solid rgba(255, 255, 255, 0.267);
        background-color: rgba(128, 128, 128, 0.452);
        cursor: pointer;
        transition: all 0.35s ease;
    }

    #full-navbar a {

        text-decoration: none;
        color: #000000;
        font-size: 2.9vh;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        position: relative;
        transition: 0.3s ease;
    }

    #navbarlink a::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        background: #789696;
        left: 0;
        bottom: -6px;
        transition: 0.3s;
    }

    #navbarlink a:hover::after {
        width: 100%;
    }

    #navbarlink a:hover {
        color: #789696;
    }

    /* ============= HeroSection =========== */
    #page1 {
        text-align: left;
    }

    #overlay {
        max-height: 100vh;
        background-color: rgba(0, 0, 0, 0.582);
    }

    #page1 #overlay #container {
        min-height: none;
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        padding-left: 5vw;
    }

    #page1 #overlay #container h1 {
        color: #f5f0f0;
        width: 100vw;
        font-size: 8vh;
        text-transform: uppercase;
        letter-spacing: 6px;
        margin-bottom: 2px;
        font-family: anurati;
        flex-wrap: nowrap;
    }

    #page1 #overlay #container p {
        color: #f5f0f0;
        font-size: 2.5vh;
        width: 90vw;
        margin-bottom: 20px;
    }

    #page1 #container button {
        padding: 1.5vh 4.5vw;
        border-radius: 8px;
        color: #000;
        font-size: 2.5vh;
        font-weight: 600;
        border: 2px solid rgba(255, 255, 255, 0.267);
        background-color: rgba(128, 128, 128, 0.452);
        cursor: pointer;
        transition: all 0.35s ease;
    }

    /* ============ Products =========== */
    .card img {
        height: 10rem;
    }
}



/* =================== mobile =================== */
@media (max-width: 768px) {



    nav {
        width: 100vw;
        height: 6vh;
        padding: 0 5vw;
    }

    #logo img {
        height: 9vh;
        transition: 0.3s ease;
    }

    #link {
        display: none;
        /* simple hide for mobile */
    }

    #SignUp {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    #SignUp #btn {
        display: none;
    }

    #SignUp #input {
        display: none;
    }

    #input::placeholder {
        color: #dadada;
    }

    #SignUp i {
        display: block;
        color: #dadada;
        font-size: 2vh;
    }

    #SignUp #shoppingcart {
        display: block;
        color: #dadada;
        font-size: 2vh;
    }

    #full-navbar #navbarlink {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 10vh;
        left: 10vw;

    }


    #full-navbar #navbarbtn {
        padding: 1vh .50vw;
        border-radius: 5px;
        color: #000;
        font-size: 1.75vh;
        font-weight: 600;
        border: 2px solid rgba(255, 255, 255, 0.267);
        background-color: rgba(128, 128, 128, 0.452);
        cursor: pointer;
        transition: all 0.35s ease;
        border: 2px solid gray;
    }

    #full-navbar a {

        text-decoration: none;
        color: #000000;
        font-size: 1.9vh;
        font-weight: 900;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        transition: 0.3s ease;
    }

    #navbarlink a::after {
        content: "";
        position: absolute;
        width: -7%;
        height: 2px;
        background: #2f3636;
        left: 0;
        bottom: -6px;
        transition: 0.3s;
    }

    #navbarlink a:hover::after {
        width: 100%;
    }

    #navbarlink a:hover {
        color: #2f3636;
    }

    #overlay {
        max-height: 100vh;
        background-color: rgba(0, 0, 0, 0.582);
    }

    #page1 #overlay #container {
        min-height: none;
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        padding-left: 5vw;
    }

    #page1 #overlay #container h1 {
        width: 200px;
        color: #f5f0f0;
        font-size: 6vh;
        /* margin-left: -14.9%; */
        text-transform: uppercase;
        letter-spacing: 6px;
        margin-bottom: 2px;
        font-family: anurati;
    }

    #page1 #overlay #container p {
        color: #f5f0f0;
        font-size: 2.5vh;
        width: 400px;
        /* margin-left: 20.9%; */
        margin-bottom: 20px;
    }

    #page1 #container button {
        padding: 1.5vh 4.5vw;
        border-radius: 8px;
        color: #000;
        font-size: 2.5vh;
        font-weight: 600;
        border: 2px solid rgba(255, 255, 255, 0.267);
        background-color: rgba(128, 128, 128, 0.452);
        cursor: pointer;
        transition: all 0.35s ease;
        /* margin-left: -30.9%; */
    }

    #products {
        align-items: flex-start;
        padding-top: 2rem;
    }

    .product-grid {
        gap: 1rem;
        padding: 1rem;
        overflow-x: auto;
        /* Only cards scroll */
        flex-wrap: nowrap;
        /* Prevent wrapping */
    }

    .card {
        flex-shrink: 0;
        background: #fff;
        border: 1px solid #e5e7eb;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .card img {
        height: 10rem;
    }

    .card-content h1 {
        font-size: 1rem;
    }

    .card-content p {
        font-size: 0.8rem;
    }

    .card-footer span.price {
        font-size: 0.9rem;
    }
}




/* =========================
   MOBILE NAVBAR SETTINGS
   ========================= */

/* Desktop pe full-navbar bilkul hide */
@media (min-width: 769px) {
    #full-navbar {
        display: none !important;
    }
}

/* Mobile ke liye */
@media (max-width: 768px) {

    nav #link {
        display: none;
    }

    #full-navbar {
        display: block;
    }

    /* Menu icon show */
    #menu {
        display: block;
        font-size: 28px;
        cursor: pointer;
    }
}