/* =================== Global Reset =================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    min-height: 100vh;
}

/* =================== navbar =================== */
nav {
    width: 100%;
    height: 80px;
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    background: rgba(170, 151, 151, 0.08);
    border-bottom: 1px solid rgba(160, 27, 27, 0.2);
    /* background-color: #dadada; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* =================== Logo =================== */
#logo img {
    height: 80px;
    transition: 0.3s ease;
}

#logo img:hover {
    transform: scale(1.1);
}

/* =================== Links =================== */
#link {
    display: flex;
    gap: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#link a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    position: relative;
    transition: 0.3s ease;
}

/* Hover underline animation */
#link a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #676e6e;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

#link a:hover::after {
    width: 100%;
}

#link a:hover {
    color: #687879;
}

/* =================== Sign In Button =================== */


#SignUp  {
    display: flex;
    align-items: center;
    gap: 9px;
}


#SignUp i {
    display: none;
}

#btn {
    padding: 6px 20px;
    border-radius: 25px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.267);
    background-color: rgba(128, 128, 128, 0.452);
    cursor: pointer;

    transition: all 0.35s ease;
}

#btn:hover {
    background-color: rgb(43, 42, 42);
    color: #d6d4d4;
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/* Click Effect */
#btn:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#btn a {
    text-decoration: none;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #dadada;

    font-size: 14px;
    font-weight: 600;
    transition: 0.3s ease;
}

#SignUp #input {
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    color: #ffffff;
    transition: 0.3s ease;
    background: transparent;
}
#input::placeholder {
    color: #dadada;
}



/* =================== home page1 =================== */
#page1 #container {

    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.199);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page1 {
    background-image: url("../images/heroSectionImage.png");
    min-height: 100vh;
    background-size: cover;
    /* pura screen cover kare */
    background-position: center;
    /* center se show ho */
    background-repeat: no-repeat;
    /* repeat na ho */
}

#page2 #container {
    min-height: 100vh;
    background-color: rgb(238, 231, 231);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =================== Responsive =================== */
@media (max-width: 768px) {
    nav {
        padding: 0 5%;
    }

    #link {
        display: none;
        /* simple hide for mobile */
    }

    #SignUp {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    #SignUp #btn {
        display: none;
    }

    #SignUp #input {
        padding: 4px 20px;
        border: 1px solid #ccc;
        border-radius: 20px;
        outline: none;
        transition: 0.3s ease;
        background: transparent;
        color: #ffffff;
        width: 23vw;
    }

    #input::placeholder {
        color: #dadada;
    }

    #SignUp i {
        display: block;
        color: #dadada;
        font-size: 4vh;
    }
}